.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

li {
  color: black;
}

.arrow {
  color: black;
  position: fixed;
  bottom: 40px;
  right: 38px;
  z-index: 9;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}
